{% extends 'base.html' %}


{% block title %}
Main
{% endblock %}


{% block body %}

<main class="px-3">
    <h3>Put your product on the scales! </h3>

    <div class="container">
        <div class="row">
        <div class="col-lg-8 offset-lg-2">
        <h3 class="mt-5">Live Streaming</h3>
        <img id="spinner" src="static/loading2.gif" alt="" style="visibility:hidden; position:absolute; z-index: 2; margin: 3% 10%">
        <img id="vidos" src="{{ url_for('video_feed') }}" style="position: relative; margin: 3% 2% "  width="100%">
        </div>
        </div>
        </div>

        

   
        <p class="lead">
            <button id="button" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Launch the system!</button>
            <!-- <a href='/results' class="btn btn-lg btn-secondary fw-bold border-white bg-black">Launch the system!</a> -->
          </p>    
          <script>
            buttonC = document.getElementById('button')
            spinnerC = document.getElementById('spinner')
            vidosC = document.getElementById('vidos')

            buttonC.addEventListener('click', () => {
                spinnerC.style.visibility = 'visible'
                vidosC.style.visibility = 'hidden'
                window.location.assign("http://0.0.0.0:8080/results"); 
              })
          </script>
        
    
  </main>
{% endblock %}